body {
    overflow: hidden;
}

div.alert {
    overflow: hidden;
    position: absolute;
    left: -500px;
    top: 5px;
    background-color: rgb(81, 123, 218);
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}

span.username {
    color: rgb(226, 206, 47);
    font-weight: bold;
    font-size: 18pt;
}

span.message:before {
    content: "\00a0 ";
}

span.message {
    text-align: center;
    font-family: 'Rubik';
    color: black;
    position: relative;
    font-size: 16pt;
}