doctype html
html(ng-app='AllmightyTwitchToolbox')
    head
        title Allmighty Twitch Toolbox
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', type='text/css', href='assets/css/libs/bootstrap-3.3.5.min.css')
        link(rel='stylesheet', type='text/css', href='assets/css/libs/angular-ui-notification-0.0.14.min.css')
        link(rel='stylesheet', type='text/css', href='assets/css/libs/dataTables-1.10.9.min.css')
        link(rel='stylesheet', type='text/css', href='assets/css/libs/dataTables.bootstrap-1.10.9.min.css')
        link(rel='stylesheet', type='text/css', href='assets/css/libs/angular-datatables-bootstrap.unreleased.min.css')
        link(rel='stylesheet', type='text/css', href='assets/css/libs/bootstrap-datetimepicker-4.17.37.min.css')
        link(rel='stylesheet', type='text/css', href='assets/css/libs/nv.d3-1.8.1.min.css')
        link(rel='stylesheet', type='text/css', href='assets/css/app.css')
    body
        nav.navbar.navbar-default.navbar-fixed-top(ng-controller='NavigationController')
            .container-fluid
                .navbar-header
                    a.navbar-brand(ng-show="hasSetup", ui-sref='dashboard') Allmighty Twitch Toolbox
                    a.navbar-brand(ng-show="!hasSetup", ui-sref='settings') Allmighty Twitch Toolbox
                .collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li(ng-show="hasSetup", ng-class="{active: $location.path() === '/dashboard'}")
                            a(ui-sref='dashboard') Dashboard
                        li(ng-show="hasSetup", ng-class="{active: $location.path() === '/viewers'}")
                            a(ui-sref='viewers') Viewers
                        li(ng-show="hasSetup", ng-class="{active: $location.path() === '/followers'}")
                            a(ui-sref='followers') Followers
                        li(ng-show="hasSetup", ng-class="{active: $location.path() === '/donations'}")
                            a(ui-sref='donations') Donations
                        li(ng-show="hasSetup", ng-class="{active: $location.path() === '/timers'}")
                            a(ui-sref='timers') Timers
                        li(ng-show="hasSetup", ng-class="{active: $location.path() === '/tools'}")
                            a(ui-sref='tools') Tools
                        li(ng-show="hasSetup", ng-class="{active: $location.path() === '/test'}")
                            a(ui-sref='test') Test
                        li(ng-class="{active: $location.path() === '/settings'}")
                            a(ui-sref='settings') Settings
                        li(ng-class="{active: $location.path() === '/help'}")
                            a(ui-sref='help') Help

        // The container which holds everything and is loaded through Angular
        .container(ui-view='')

        // jQuery & Plugins
        script(type='text/javascript', src='assets/js/libs/jquery-2.1.4.min.js')
        script(type='text/javascript', src='assets/js/libs/jquery.transit-0.9.12.min.js')

        // Socket.IO
        script(type='text/javascript', src='assets/js/libs/socket.io-1.3.7.min.js')

        // Bootstrap
        script(type='text/javascript', src='assets/js/libs/bootstrap-3.3.5.min.js')

        // Datatables
        script(type='text/javascript', src='assets/js/libs/dataTables-1.10.9.min.js')

        // Lodash
        script(type='text/javascript', src='assets/js/libs/lodash-3.10.1.min.js')

        // Async
        script(type='text/javascript', src='assets/js/libs/async-1.5.0.min.js')

        // Howler Audio Library
        script(type='text/javascript', src='assets/js/libs/howler-1.1.27.min.js')

        // Accounting Library
        script(type='text/javascript', src='assets/js/libs/accounting-0.4.1.min.js')

        // Moment.js Library
        script(type='text/javascript', src='assets/js/libs/moment-2.10.6.min.js')

        // D3 (and related) Libraries
        script(type='text/javascript', src='assets/js/libs/d3-3.5.6.min.js')
        script(type='text/javascript', src='assets/js/libs/nv.d3-1.8.1.min.js')

        // Bootstrap Date Time Picker
        script(type='text/javascript', src='assets/js/libs/bootstrap-datetimepicker-4.17.37.min.js')

        // Angular & Plugins
        script(type='text/javascript', src='assets/js/libs/angular-1.4.7.min.js')
        script(type='text/javascript', src='assets/js/libs/angular-ui-router-0.2.15.min.js')
        script(type='text/javascript', src='assets/js/libs/angular-sanitize-1.4.7.min.js')
        script(type='text/javascript', src='assets/js/libs/angular-ui-notification-0.0.14.min.js')
        script(type='text/javascript', src='assets/js/libs/angular-ui-bootstrap-0.14.2.min.js')
        script(type='text/javascript', src='assets/js/libs/angular-datatables-unreleased.min.js')
        script(type='text/javascript', src='assets/js/libs/angular-datatables-bootstrap-unreleased.min.js')
        script(type='text/javascript', src='assets/js/libs/angular-scrollglue-2.0.6.min.js')
        script(type='text/javascript', src='assets/js/libs/angular-local-storage-0.2.3.min.js')
        script(type='text/javascript', src='assets/js/libs/angular-moment-1.0.0-beta.2.min.js')
        script(type='text/javascript', src='assets/js/libs/angular-nvd3-1.0.2.min.js')
        script(type='text/javascript', src='assets/js/libs/angular-socketio-0.7.0.min.js')

        // Our a related modules
        script(type='text/javascript', src='app/factories/settings.factory.js')

        // Our follower related modules
        script(type='text/javascript', src='app/factories/followers.factory.js')

        // Our donation related modules
        script(type='text/javascript', src='app/factories/donations.factory.js')

        // Our stream related modules
        script(type='text/javascript', src='app/factories/stream.factory.js')
        script(type='text/javascript', src='app/factories/viewers.factory.js')

        // Our giantbomb related modules
        script(type='text/javascript', src='app/factories/giantbomb.factory.js')

        // Our timers related modules
        script(type='text/javascript', src='app/factories/timers.factory.js')

        // Our tool related modules
        script(type='text/javascript', src='app/factories/music.factory.js')

        // Our SocketIO related modules
        script(type='text/javascript', src='app/factories/socketio.factory.js')

        // The main application endpoint
        script(type='text/javascript', src='app/app.js')

        // Our directives
        script(type='text/javascript', src='app/directives/collapsible.directive.js')
        script(type='text/javascript', src='app/directives/hero-widget.directive.js')

        // Our filters
        script(type='text/javascript', src='app/filters/capitalize.filter.js')

        // Controllers
        script(type='text/javascript', src='app/controllers/navigation.controller.js')
        script(type='text/javascript', src='app/controllers/dashboard.controller.js')
        script(type='text/javascript', src='app/controllers/viewers.controller.js')
        script(type='text/javascript', src='app/controllers/followers.controller.js')
        script(type='text/javascript', src='app/controllers/donations.controller.js')
        script(type='text/javascript', src='app/controllers/timers.controller.js')
        script(type='text/javascript', src='app/controllers/tools.controller.js')
        script(type='text/javascript', src='app/controllers/test.controller.js')
        script(type='text/javascript', src='app/controllers/settings.controller.js')
        script(type='text/javascript', src='app/controllers/auth.controller.js')
        script(type='text/javascript', src='app/controllers/help.controller.js')