body {
    padding-top: 70px;
}

textarea.logging-text-area {
    width: 100%;
    resize: none;
    overflow-y: scroll;
    overflow-x: scroll;
    white-space: nowrap;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

.panel-heading span {
    margin-top: -18px;
    font-size: 15px;
}

.hero-widget {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hero-widget .icon {
    display: block;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 10px;
    text-align: center;
}

.hero-widget var {
    display: block;
    height: 32px;
    font-size: 32px;
    line-height: 32px;
    font-style: normal;
}

.hero-widget label {
    font-size: 17px;
}

.hero-widget .options {
    margin-top: 10px;
}