body {
    padding-top: 70px;
}

textarea.logging-text-area {
    width: 100%;
    resize: none;
    overflow-y: scroll;
    overflow-x: scroll;
    white-space: nowrap;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

.panel-heading span {
    margin-top: -18px;
    font-size: 15px;
}

.hero-widget {
    text-align: center;
}

.hero-widget .icon {
    display: block;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
    text-align: center;
    float: left;
    top: 9px;
    position: absolute;
}

.hero-widget > .text var {
    display: block;
    height: 32px;
    font-size: 32px;
    line-height: 32px;
    font-style: normal;
}

.hero-widget > .text label {
    font-size: 17px;
}

.hero-widget > .change {
    font-size: 17px;
    position: absolute;
    top: 2px;
    right: 22px;
}

.hero-widget > .change-bad {
    color: red;
}

.hero-widget > .change-good {
    color: green;
}

#accordion .panel-heading {
    padding: 0;
}

#accordion .panel-title > a {
    display: block;
    padding: 0.4em 0.6em;
    outline: none;
    font-weight: bold;
    text-decoration: none;
}

#accordion .panel-title > a.accordion-toggle::before, #accordion a[data-toggle="collapse"]::before {
    content: "\e113";
    float: left;
    font-family: 'Glyphicons Halflings';
    margin-right: 1em;
}

#accordion .panel-title > a.accordion-toggle.collapsed::before, #accordion a.collapsed[data-toggle="collapse"]::before {
    content: "\e114";
}
