body {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../image/SplashScreen.png");
    background-repeat: no-repeat;
    overflow: hidden;
}

#progress-bar {
    position: absolute;
    width: 490px;
    height: 19px;
    bottom: -16px;
    left: 5px;
}

#close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 4px;
    padding: 2px 8px;
}