doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Timer
        link(href='/assets/css/fonts/rubik.css', rel='stylesheet', type='text/css')
        link(href='/assets/css/libs/flipclock.css', rel='stylesheet', type='text/css')
        link(href='/scenes/css/timer.css', rel='stylesheet', type='text/css')
    body
        #countdown
        script(src='/assets/js/libs/jquery-2.1.4.min.js')
        script(src='/assets/js/libs/socket.io-1.3.7.min.js')
        script(src='/assets/js/libs/moment-2.10.6.min.js')
        script(src='/assets/js/libs/flipclock.min.js')

        script(type='text/javascript').
            window.customData = !{JSON.stringify(data)};

        script(src='/scenes/js/timer.js')