<div class="hero-widget well well-sm">
    <div class="icon">
        <i class="glyphicon glyphicon-{{ icon }}"></i>
    </div>
    <div class="text">
        <var ng-bind="value | {{filter}}"></var>
        <label class="text-muted">{{ label }}</label>
    </div>
    <div ng-show="showChange !== null ? showChange && change !== null : change !== null" class="change change-{{ change !== null ? change >= 0 ? 'good' : 'bad' : 'good'}}">
        <var ng-bind="change | {{filter}}"></var>
    </div>
</div>