<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Network Settings</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="socketIOPort" class="col-lg-2 control-label">Socket.IO Port</label>

                    <div class="col-lg-10">
                        <input ng-model="settings.network.socketIOPort" type="number" class="form-control" id="socketIOPort" min="1" max="65535"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="webPort" class="col-lg-2 control-label">Web Port</label>

                    <div class="col-lg-10">
                        <input ng-model="settings.network.webPort" type="number" class="form-control" id="webPort" min="1" max="65535"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary" ng-click="save()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>