<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Getting Started</h3>
            </div>

            <div class="panel-body">
                <p>To get started you'll need a few plugins installed in OBS (OBS MultiPlatform not supported). Please download and install them into your OBS:</p>

                <ul>
                    <li><a href="https://obsproject.com/forum/resources/clr-browser-source-plugin.22/" target="_blank">CLR Browser Source</a></li>
                    <li><a href="http://www.obsremote.com/" target="_blank">OBS Remote</a></li>
                </ul>

                <p>You'll also need foobar2000 and a coupple plugins for it in order to access the foobar related things:</p>

                <ul>
                    <li><a href="https://obsproject.com/forum/resources/clr-browser-source-plugin.22/" target="_blank">foobar2000</a></li>
                    <li><a href="http://skipyrich.com/wiki/Foobar2000:Now_Playing_Simple" target="_blank">foo_np_simple</a></li>
                    <li><a href="https://bitbucket.org/oblikoamorale/foo_httpcontrol/downloads" target="_blank">foo_httpcontrol</a></li>
                    <li><a href="https://bitbucket.org/oblikoamorale/foo_httpcontrol/downloads" target="_blank">foo_httpcontrol ajquery</a></li>
                </ul>

                <p>
                    The settings for foo_np_simple can be accessed within foobar under File -> Preferences -> Tools -> Now Playing Simple and should be set as encoding UTF-8 and should only respond to
                    the 'On New Track' event. The Formatting string section should only contain '%path%' without the quotes.
                </p>

                <p>Once installed and OBS and foobar2000 have been restarted you can then go to the 'Settings' tab in this application and setup your settings.</p>

                <p>Once everything is setup, a restart of the application is needed so it can start to pull in all the information it needs to get started.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Scenes</h3>
            </div>

            <div class="panel-body">
                <p>To get started with setting up the necessary scenes in OBS, take a look at the below list of the url's of the scenes and their width and height.</p>

                <p>These size settings are based off a 1280x720 broadcasting resolution. If you're using anything but that, you will need to resize your notifications within OBS to suit.</p>

                <p>If you want to have these playing across multiple scenes and not reloading everytime you switch scene, then you should set them up as global sources.</p>

                <ul>
                    <li>Now Playing Scene (175x300): <a href="http://localhost:28800/scenes/nowplaying/" target="_blank">http://localhost:28800/scenes/nowplaying/</a></li>
                    <li>Alerts Scene (600x50): <a href="http://localhost:28800/scenes/alerts/" target="_blank">http://localhost:28800/scenes/alerts/</a></li>
                    <li>Timers Scene (500x125): Click 'Copy Link' on the timer on the Timers tab for the link</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Overlays</h3>
            </div>

            <div class="panel-body">
                <p>Overlays are groups of different elements which are shown in a 1280x720 resolution and 'overlayed' over your game capture in OBS.</p>

                <p>Overlays are based off a 1280x720 broadcasting resolution and are best to be added as global scenes so that their state, transitions etc, carry over between scenes.</p>

                <p>Below is the list of overlays and their url's to be used in OBS.</p>

                <ul>
                    <li>Default Overlay (Alerts and Now Playing Notifications): <a href="http://localhost:28800/overlays/default/" target="_blank">http://localhost:28800/overlays/default/</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Tools</h3>
            </div>

            <div class="panel-body">
                <p>This application comes with some tools which aim to help make life easier. Tools can be accessed by right clicking on the applications icon in the taskbar and clicking the tool.</p>

                <div class="media">
                    <div class="media-body">
                        <p>The microphone status tool brings up a resizable window (which remembers it's last position and size) and shows if the current scene in OBS has it's microphone muted or
                            not.</p>

                        <p>
                            The tool also provides a hotkey (which can be set in the settings) which when pressed will toggle the current scenes microphone muting. This is best used with the
                            'Per Scene Volume' plugin which comes with OBS. If you don't want to be able to toggle a scenes microphone mute status you can add '[NOMUTE]' to the name of the scene or as
                            the name of a source in the scene (see image).
                        </p>
                    </div>

                    <span class="media-right">
                        <img src="/assets/image/help/NOMUTE.png" alt="Disabling the microphone muting hotkey for a single scene!"/>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>